body {
  background-color:#008000;
  text-align:left;
  }
h1 {
  color:#FF0000;
  font-family:Arial;
  }
ul{
  background-color:#877e00;
  font-style:bold;
  }
border{
  border-color:CadetBlue;
  border-style:double;
  border-width:10px;
  }
.content{
  font-size:2;
  }
#sleep:hover{
  background-color:black;
  color:white;
  font-style:italic;
  }
#swim:hover{
  background-color:blue;
  color:olive;
  font-style:italic;
  )
  


  






