body {
  background-color:#008000;
  }

.content{
  background-color:red;
  }

.style{
  background-color:white;
  }
h2+h3{
  color:CadetBLue;
  }
li:hover{
  background-color:brown;
  font-size:30px;
  }
li:active{
  background-color:green;
  }

